# Node.js
frontend/node_modules/
frontend/.env
frontend/.vite/

# Vite cache
frontend/dist/
.vite/

# Logs
*.log
npm-debug.log*

# Python
backend/__pycache__/
backend/*.py[cod]
*.py[cod]
*.pyo

# Banco de dados local (se for para testes apenas)
backend/clientes2.db

# Virtualenv (caso use)
venv/
.env/

# IDEs e editores
.vscode/
.idea/
*.swp

# Arquivos do sistema
.DS_Store
Thumbs.db

# Build/Output
frontend/build/
frontend/.next/
frontend/out/