# Node.js
frontend/node_modules/
frontend/.env
frontend/.vite/

# Vite cache
frontend/dist/
.vite/

# Logs
*.log
npm-debug.log*

# Python
__pycache__
backend/*.py[cod]
*.py[cod]
*.pyo

# Virtualenv
venv/
.env/
.env

# IDEs e editores
.vscode/
.idea/
*.swp

# Arquivos do sistema
.DS_Store
Thumbs.db

# Build/Output
frontend/build/
frontend/.next/
frontend/out/